# Large model files
models/
*.zip
*.pt
*.bin
*.safetensors

# Large data files
data/processed/climate_bio.txt
data/processed/merged_annotations.json

# Checkpoints
.ipynb_checkpoints/
__pycache__/
*/.ipynb_checkpoints/

data/annotated/ashley_annotations.json
data/annotated/harshini_annotations.json
data/annotated/mayukha_annotations.json
data/processed/climate_train.txt
data/processed/climate_dev.txt
data/processed/climate_test.txt